site_name: your_app_name
database:
    ssh_username: your_ssh_username
    db_username: your_mysql_username
    password: your_password
    hostname: your_app.staging.copiousdev.com
    database: your_app_staging
amazon:
    bucket: your_app_backups
    secret_access_key: your_secret
    access_key_id: your_key_id
webserver: 
    username: your_ssh_username
    hostname: your_app.staging.copiousdev.com
    app_root: /var/www/your_app-staging
    media_path: /var/www/your_app-staging/media
